

@model Data.Access.Layer.Models.LoginViewModel


@{
    ViewBag.Title = "User Login";
}

<h1>Login Page</h1>

<div>
    <div>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email"   />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            
            


            <button type="submit">Login</button>
        </form>
    </div>
</div>


